{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bd-example">
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Tu Demandes</h5>
					<p>您可以在您现在所在的位置或附近其他位置打车.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Le Taxi Arrive</h5>
					<p>司机接受订单后会即刻向您赶来.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>评分</h5>
					<p>别忘了为司机和我们的服务打分，以便帮助改善我们的服务</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>


<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<img class="m-auto text-primary" src="{% static 'img/step1.png' %}"></img>
					</div>
					<h3>免费注册</h3>
					<p class="lead mb-0">小小打车让您的出行更加方便</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<img class="m-auto text-primary" src="{% static 'img/step2.png' %}"></img>
					</div>
					<h3>用户友好的界面</h3>
					<p class="lead mb-0">小小打车用友好的界面帮您找到附近可用的网约车，助力您的出行</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<img class="m-auto text-primary" src="{% static 'img/step3.png' %}"></img>
					</div>
					<h3>查看周边司机</h3>
					<p class="lead mb-0">小小打车借助百度地图帮助您查看正在附近的司机，方便您进行选择
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="aPropos">
	<div class="container text-center my-5">
		<h2>欢迎来到小小打车！ <span class="icon-emo-happy"></span></h2>
		<p class="lead">
			如果您还没有登陆，可以在这里 <a href="{% url 'login' %}">登陆</a>. 如果还没有账号，可以注册为 <a href="{% url 'chauffeur_signup' %}">司机</a> 或 <a href="{% url 'passager_signup' %}">乘客</a>.
		</p>
		<hr>
		<h3>A propos du site</h3>
		<p>TaxiPourVous est un service qui vous permet de réserver un taxi à distance en se basant sur la géolocalisation des taxis les plus proches et ainsi de mettre en communication le passager et le chauffeur pour qu'ils puissent se mettre d'accord sur les informations du course.</p>
	</div>
</section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">关于</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{% url 'contacter' %}">联系我们</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">用户条款</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">隐私政策</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 小小打车 2023. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
