{% extends 'base2.html' %}
{% load static %}


{% block content %}
<div id="info" style="border:2px solid rgb(74, 84, 82) ; visibility: hidden;">

</div>
<div id="msg">
  {% include 'messages.html' %}
</div>
<div class="text-center">
  <button id="demander_maintenant" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">上车！</button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4abf3d;">
        <h5 class="modal-title text-center font-weight-bold" id="exampleModalLabel">输入行程详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_demande">
          <div class="form-group">
            <label for="destination" class="col-form-label">上车点:</label>
            <input type="text" class="form-control" id="depart">
          </div>
          <div class="form-group">
            <label for="destination" class="col-form-label">目的地:</label>
            <input type="text" class="form-control" id="destination">
          </div>
          <div class="form-group">
            <label for="nombreDePlaces" class="col-form-label">人数:</label>
            <input type="text" class="form-control" id="nombreDePlaces">
          </div>
        </form>
        <div id="ajax-errors" class="alert alert-danger" role="alert" style="display: none;">
          <strong>啊噢!</strong><br>
          <span>出错了，请检查您的输入数据 </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-lg" id="demande_button"><span id="Commander_button">呼叫司机 </span><i id="Commander_icon" class="fas fa-taxi"></i></button>
      </div>
    </div>
  </div>
</div>

<div id="LatLng"></div>

<!--The div element for the map -->
<div id="map"></div>

{% endblock %}



{% block javascript %}

{% include 'demande_modal.html'%}
{% include 'script_map.html'%}
<!-- {% include 'script_notifications.html'%} -->

  {% endblock %}
